<!DOCTYPE html>
{% load static %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Create page</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" />
</head>

<body>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="col col_13 checkout">
            <div class="mb-3">
                <label class="form-label" for="id_name">User:</label>
                <input type="text" name="name" class="form-control" maxlength="50" required="" id="name">
            </div>
            
            <div class="mb-3">
                <button class="btn btn-primary btn-sm me-md-2" type="submit">Save</button>
            </div>
        </div>
    </form>
</body>